{% extends "blog/base.html" %}
{% block content %}
    <h1>python knowledge</h1>
    <div class="content-section">
        <p>
                Добро пожаловать на мой сайт, посвященный языку программирования Python!
            Здесь вы найдете полезную информацию о различных функциях, особенностях и фишках языка Python,
            которые помогут вам улучшить свои навыки программирования.
        </p>
        <p>
                Я создали этот сайт, чтобы поделиться опытом и знаниями о Python с другими людьми,
            которые также интересуются этим языком. Статьи содержат подробные описания функций,
            а также примеры кода, которые помогут вам лучше понять, как они работают и как их можно использовать.
        </p>
        <p>  
                Мы регулярно обновляем наш сайт новыми материалами, чтобы вы могли быть в курсе последних тенденций в мире Python.
            Кроме того, мы также предоставляем возможность задавать вопросы и получать ответы в коментриях.
        </p>
        <p>
                Я надеемся, что этот сайт будет полезным для вас и поможет вам расширить свои знания о Python.
            Благодарю вас за посещение сайта и желаю вам успехов в обучении языку Python!
        </p>
    </div>
{% endblock content %}